<div class="container my-5">
    <div class="jumbotron">
        <h1 class="display-4">Hello User!</h1>
        <p class="lead">This is a simple Todo List, where you can easily create your Todo, mark them done once completed and also delete them is you wish to do so.</p>
        <hr class="my-4">
        <p>This uses Angular, HTML, CSS and Bootstrap </p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Try Now</a>
    </div>

    <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    
  
    <!-- Copyright -->
    <div class="text-center p-4 my-5" style="background-color:#FFEECC;">
      © Soumil Aggarwal <br>
      <a class="text-reset fw-bold" href="https://github.com/soumilaggarwal2003/WebDevelopment">GitHub</a>
      <a class="text-reset fw-bold" href="https://www.linkedin.com/in/soumil-aggarwal-a8a730275/">Linkedin</a>

    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</div>